html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: system-ui;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: thistle;
  padding: 1.5em;
  color: white;
  text-align: center;
}

header a {
  font-size: 18px;
  margin-right: 1em;
  padding: 1em;
  color: inherit;
  text-decoration: none;
 
}

header a:hover {
  background-color: #076652;
  border-radius: 0.2em;
  
}

footer {
  /* background-color: olive;
  padding: 1em;
  /* padding-bottom: 1em; */
  /* margin-top: 1.5em;
  margin-bottom: 1.5em;
  
 
  text-align: center;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; */ 

  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 8px;
  background: #076652;
  color: white;
}

main {
  max-width: 50em;
  padding: 0.5em;
  margin: 0 auto;
}

/* .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
} */

button {
  padding: 1em;
  font-size: 1em;
  background-color: thistle;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

button:hover {
  background-color: #076652;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  margin: 0.5em 0;
}